<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Search Place</title>
</head>

<body>
    <div class="wrap">
        <div class="middle">
            <h1>Get Weather Results!</h1>
        </div>
        <form action="/forecast">
            <div class="search">
                <input name="q" type="text" class="searchTerm" placeholder="Enter place name...">
                <input type="submit" class="searchButton" value="Search">
            </div>
        </form>
    </div>
</body>

</html>